*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
  background-color: #f9e4b7;
  font-family: "lato", sans-serif;
  padding: 0;
}

.main-header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  background: #f7a41b;
  width: 100%;
  height: auto;
  padding: 10px;
  gap: 10px;
  z-index: 1000;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.logo img {
  height: 150px;
  width: auto;
}

.main-header form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.search-bar {
  display: flex;
  align-items: center;
  max-width: 700px;
}

.search-bar input {
  flex: 1;
  padding: 8px 15px;
  color: #af4c0f;
  border: none;
  background: #ffffff;
  text-align: left;
  border-radius: 25px 0 0 25px;
  font-size: 0.9rem;
  font-family: "lato", sans-serif;
}

.search-bar button {
  padding: 7px 8px;
  background: #ffffff;
  border: none;
  border-radius: 0 25px 25px 0;
  font-size: 0.9rem;
  font-family: montserrat, sans-serif;
  cursor: pointer;
  transition: background 0.3s ease;
}

.search-bar button:hover {
  background: #ffd700;
}

.nav {
  display: flex;
  gap: 10px;
}

.a1 {
  padding: 12px 15px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  color: #ffffff;
  background: #8d3304;
  text-decoration: none;
  text-align: center;
  transition: background color 0.3s ease;
}

.a1:hover {
  background-color: #ffd700;
}

.featured {
    padding-top: 15%;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px;
}

.jollof {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  background: url("/assets/images/Jollof.jpg") no-repeat center center/cover;
  width: 1000px;
  height: auto;
  gap: 20px;
  padding: 30px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

h5 {
  padding: 12px 15px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  color: #af4c0f;
  background: white;
  border-radius: 10px;
  box-shadow: 5px 4px 0px #CDE834; 
}

h2 {
  font-size: 3rem;
  color: #ffffff;
  font-weight: 500;
  line-height: 1;
  text-align: center;
}

.head {
  font-size: 4rem;
  font-weight: 800;
  color: #ffffff;
}

.notes {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 1.2;
  color: #ffffff;
}

.heading1, .heading2, .heading3 {
  font-size: 2.5rem;
  font-weight: 800;
  color: #f7a41b;
  text-align: center;
}

.category-list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  font-size: 1rem;
  padding: 50px;
  gap: 40px;
}

.category-list li {
  display: grid;
  grid-template-rows: 1fr 0.3fr;
  margin-bottom: 30px;
  place-items: center;
  cursor: pointer;
  color: #af4c0f;
  transition: transform 0.3s ease;
}

.category-list li:hover {
  transform: scale(1.1);
}

.circle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.circle img {
  width: 120px;
  height: 120px;
  border-radius: 20%
}

span {
  font-size: 1rem;
  font-weight: 500;
  color: #af4c0f;
  text-align: center;
}


.advert {
    display: flex;
    align-items: center;
    justify-content: center;
}

.container {
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  width: 1200px;
  height: auto;
  background: #f7a41b;
  padding: 5%;
  gap: 10%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
}

.item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
}

.conhead {
  font-size: 5rem;
  color: #af4c0f;
  font-weight: 800;
}

h4{
  font-size: 3.5rem;
  font-weight: 500;
  line-height: 1;
  color: #af4c0f;
}

.conheadnote {
  font-size: 1.5rem;
  color: #af4c0f;
  font-weight: 300;
  line-height: 1.2;
}

.zobo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.zobo img {
  height: 394px;
  width: 394px;
  border-radius: 50%;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.15);
  z-index: 1;
}

#banner {
  padding: 15px 10px;
  color: #ffffff;
  background: #8d3304;
  border-radius: 25px 0 0 25px;
  font-size: 2rem;
  font-weight: 800;
  margin-left: 10px;
}
  
.a2 {
  padding: 12px 15px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  color: #ffffff;
  background: #8d3304;
  text-decoration: none;
  text-align: center;
  transition: background-color 0.3s ease;
}

.a2:hover {
  background-color: #ffd700;
}

.countries {
  max-width: 600px;
  margin: 20px auto;
}

.country-list, .related-list {
  display: grid;
  list-style: none;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  gap: 20px;
  font-size: 1rem;
  padding: 2%;
}

.country-list li, .related-list li {
  display: grid;
  grid-template-rows: 1fr auto;
  margin-bottom: 30px;
  text-align: center;
  cursor: pointer;
  color: #af4c0f;
  transition: transform 0.3s ease;
}

.country-list li:hover {
  transform: scale(1.05);
}

.square {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 120px;
  height: 120px;
  overflow: hidden;
  border-radius: 15%;
}

.square img {
  width: 120px;
  height: 120px;
  border-radius: 15%;
  display: block;
}

.country-list li:nth-child(n+5) {
  display: none;
}

.country-list.expanded li {
  display: grid;
}

#see-more-btn {
  padding: 12px 15px;
  border: none;
  font-size: 1rem;
  font-weight: bold;
  border-radius: 25px;
  color: #ffffff;
  background: #8d3304;
  text-align: center;
  transition: background-color 0.3s ease;
}

#see-more-btn:hover {
  background-color: #ffd700;
  color: #000;
}

@media (max-width: 780px) {
  .main-header {
    flex-direction: column;
    gap: 10px;
    height: auto;
    text-align: center;
  }

  .logo img {
    height: 100px;
    width: auto;
  }

  .search-bar {
    flex-direction: row;
    max-width: 100%;
    width: 80%;
  }
  
  .search-bar input {
    border-radius: 25px 0 0 25px;
    margin-bottom: 0px; 
  }

  .search-bar button {
    border-radius: 0 25px 25px 0;
    width: 30%;
  }

  main {
    padding-top: 40%;
    
  }

  .jollof {
    width: 80%;
    height: auto;
  }
  
  .circle {
    width: 80px;
    height: 80px;
  }

  .circle img {
    width: 80px;
    height: 80px;
  }
  
  .square {
    width: 80px;
    height: 80px;
  }

  .square img {
    width: 80px;
    height: 80px;
  }

  .category-list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-size: 1rem;
    padding: 2%;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 5%;
   
  }
}


@media (max-width: 480px) {
  .main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .search-bar {
    flex-direction: row;
    max-width: 100%;
    width: 50%;
  }
  
  .search-bar input {
    border-radius: 25px 0 0 25px;
    margin-bottom: 0px;
    width: 60%;
  }

  .search-bar button {
    border-radius: 0 25px 25px 0;
    width: 30%;
  }

  .logo {
    width: 100px;
    height: auto;
  }

  .a1 {
      font-size: 0.8rem;
  }

  .featured {
      padding-top: 70% ;
  }

  .jollof {
      width: 80%;
  }

  h5 {
      font-size: 1.2rem
  }

  .notes {
      font-size: 0.9rem;
  }

  .heading1, .heading2, .heading3 {
    font-size: 2rem;
  }

  .circle {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 120px;
    height: 120px;
    border-radius: 50%;
  }

  .circle img {
    width: 80px;
    height: auto;
    border-radius: 20%
  }

  .category-list span {
    font-size: 0.9rem;
  }

  .square {
    width: 100px;
    height: auto;
  }

  .square img {
    width: 80px;
    height: auto;
  }

  .category-list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    font-size: 1rem;
    padding: 2%;
  }

  .container {
    display: flex;
    flex-direction: column;
    padding: 5%;
    width: 100%;
  }

  span {
    font-size: 2rem;
  }

  .conhead {
    font-size: 3rem
  }

  .conheadnote {
    font-size: 0.9rem;
  }

  #banner {
    width: 30%;
    height: auto;
    font-size: 0.9rem;
  }

  .zobo img {
    width: 150px;
    height: auto;
  }

  .a2 {
    font-size: 0.8rem;
  }

  .country-list, .related-list {
    display: grid;
    list-style: none;
    grid-template-columns: repeat(3, 1fr);
  }

  .country-list li, .related-list li {
    display: grid;
    grid-template-rows: 1fr auto;
  }

  .country-list span, .related-list span {
    font-size: 0.9rem;
  } 

}